/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px 50px;
    margin-bottom: 10px;
    border-radius: 12px;
}

/* Logo */
header h2 {
    color: #00d1b2;
    margin: 0;
}

/* Navbar */
nav {
    display: flex;
    gap: 25px;
    padding: 10px 18px;
    background-color: #222;
    border-radius: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

nav a:hover {
    color: lightblue;
    transform: translateY(-3px);
}

/* Hero */

#hero {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 3px;
    border: solid gray 3px;
    border-radius: 12px;
    box-shadow: 2px 8px 15px #222, -4px 10px 10px black, 4px 0px 10px black;
    margin-bottom: 30px;
}


/* Left Image */

.hero-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: solid gray 6px;
    padding: 3px;
    box-sizing: border-box;
}


/* Content */

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.hero-content h1 {
    margin: 0 0 15px;
    font-size: 36px;
}

.hero-content h1 span {
    font-size: 42px;
}

.hero-content p {
    margin: 5px 0;
    font-size: 20px;
    color: gray;
}


/* Right Image Container */

.hero-visual {
    position: relative;
    width: 820px;
    height: 435px;
}

.flow-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
    border-radius: 12px;
    padding: 0;
    margin-top: 1px;
    margin-left: 1px;
    box-shadow: 5px 0px 15px black, -4px 0px 10px black;
}


/* Links on Image */

.hero-links {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
}

.hero-links a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 12px;
    border-radius: 4px;
}

.hero-links a:hover {
    transform: scale(1.1);
    color: lightblue;
}

/* intro */
#introduction {
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
}

#introduction h2 {
    color: #00d1b2;
    margin-bottom: 20px;
}

#introduction h2::after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: #00d1b2;
    margin: 10px auto;
}

#introduction p {
    color: #b2bec3;
    font-style: italic;
}

/* Skills */

#skills {
    margin-top: 30px;
}

#skills h2 {
    grid-column: 1 / -1;
    text-align: center;
    margin: 0 0 10px;
    font-size: 28px;
    color: #00d1b2;
}


#skills h2 span {
    font-size: 32px;
}


/* Skills Glass Box */

.skills-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 25px;
    background: black;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    box-shadow:
        2px 8px 15px #222,
        -4px 10px 10px black;
    backdrop-filter: blur(10px);
}


/* Skill */

.skill {
    padding: 15px;
    background: #222;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 8px;
    color: white;
    font-size: 18px;
    transition: 0.2s ease;
}

.skill:hover {
    background: gray;
    transform: translateY(-3px);
    color: #00d1b2;
}

/* Languages */

#languages {
    margin-top: 30px;
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;
    border-radius: 12px;
    background-color: #222;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    box-shadow:
        2px 8px 15px black,
        -4px 10px 10px black;
    backdrop-filter: blur(10px);
}

#languages h2 {
    margin-bottom: 25px;
    padding: 20px 50px;
    text-align: center;
    font-size: 28px;
    color: #00d1b2;
}

/* Languages Container */

.languages-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    justify-items: center;
    padding: 30px;
}


/* Language */

.language {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Circle */

.language-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.language-circle:hover {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: scale(1.1);
}


/* Inner Circle */

.language-circle::before {
    content: "";
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: black;
}


/* Percentage */

.language-circle span {
    position: relative;
    color: white;
    font-size: 28px;
    font-weight: bold;
}


/* English */

.english {
    background: conic-gradient(
        #00d1b2 70%,
        #333 70%
    );
}


/* Persian */

.persian {
    background: conic-gradient(
        #00d1b2 100%,
        #333 100%
    );
}


/* Language Name */

.language h3 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 22px;
    color: white;
}